<!Doctype html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>LOVE~小姐姐</title>
    <link th:href="@{/css/frozen/peiqi.css}" rel="stylesheet" >

</head>
<body bgcolor="#f78ca0">
<div class="box" align="center">
    <h1 id="iBT">～这是你要的佩奇吗？～</h1>
    <img th:src="@{/img/frozen/peiqi/1.jpg}" id="iPQ">
    <div class="button_box">
        <div class="left_button" id="iOK">是</div>
        <div class="right_button" id="iNO">不是</div>
    </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/frozen/peiqi.js}"></script>
</html>
